Package: com.owngoal.removewidgetbackground
Name: RemoveWidgetBackground
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Remove widget background blur in iOS 17
Maintainer: Developer
Author: Developer
Section: Tweaks
